genre.guide, *.genre.guide {
	header / Strict-Transport-Security "max-age=31536000;"
	
	root /srv
	gzip
	
	proxy / web:80 {
		transparent
		except /css
	}
	
	proxy /graphql graphql-server:80 {
		transparent
	}
	
	tls {$TLS_EMAIL} {
		dns digitalocean
	}
}
