https://{$DOMAIN_NAME} {
	header / Strict-Transport-Security "max-age=31536000;"
	
	root /srv
	gzip
	
	rewrite {
		if {path} is /catalog
		to /catalog.html
	}
	rewrite {
		if {path} is /about
		to /about.html
	}
	
	proxy /graphql graphql-server:80 {
		transparent
	}
	
	tls {$TLS_EMAIL}
}
