[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"

[packages]
aioredis = "*"
gspread = "*"
gspread-formatting = "*"
graphene = "*"
starlette = "*"
uvicorn = "*"
oauth2client = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "pipenv run pytest -p no:cacheprovider -v backend"
clone = "pipenv run python -m backend.sheet_to_db"
