[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "==1.5.3"
mypy = "==0.780"

[packages]
gspread = "*"
gspread-formatting = "*"
oauth2client = "*"
firebase-admin = "==4.3.0"

[requires]
python_version = "3.8"

[scripts]
"clone:subgenres" = "pipenv run python -m python_backend.sheet_to_db.subgenres"
"clone:tracks" = "pipenv run python -m python_backend.sheet_to_db.tracks"
"tests" = "pipenv run pytest -p no:cacheprovider -v python_backend"
