---
title: GraphQL
background: "#E535AB"
foreground: "#FFFFFF"
---

<script>
    import { name } from "site";
    import image from "./graphql.svg";
    metadata.image = image;
</script>

# {title}

{name}’s API is available over the GraphQL query language at [this endpoint](/graphql).

Opening this link in the browser will bring you to the GraphQL Playground, where you can explore the schema and experiment building queries with autocompletion.
