{# This file is for explicity writing out all the classes that PurgeCSS cannot determine are truly being used #}
{# because they are programmatically created #}

{# Header #}
<div class="text-green text-green-dark"></div>
<div class="text-grey text-grey-dark"></div>

{# Icon sizing in song-entry #}
<div class="w-8 h-8 w-6 h-6"></div>

{# Genre background colors #}
{# todo: automate #}
<div class="bg-genre-ambient bg-genre-atmospheric bg-genre-breaks bg-genre-country bg-genre-disco bg-genre-drum-bass bg-genre-dubstep bg-genre-electronic bg-genre-experimental bg-genre-folk bg-genre-future-bass bg-genre-glitch-hop bg-genre-hardcore bg-genre-hip-hop bg-genre-house bg-genre-industrial bg-genre-jazz bg-genre-metal bg-genre-miscellaneous bg-genre-pop bg-genre-psychedelia bg-genre-punk bg-genre-reggae bg-genre-rhythm-blues bg-genre-rock bg-genre-techno bg-genre-traditional bg-genre-trance bg-genre-trap-edm bg-genre-uk-garage bg-genre-vaporwave"></div>

{# ? and I guess unknown subgenres #}
<div class="bg-black"></div>

{# Foreground color on genre pill buttons #}
<div class="text-white text-black"></div>
