@tailwind base;

:focus {
  @apply outline-none;
  @apply shadow-outline;
}

*,
*::before,
*::after {
  transition-duration: inherit;
  transition-property: inherit;
  transition-timing-function: inherit;
}

@tailwind components;
@tailwind utilities;
