{% extends "base.html" %}
{% from "components/song-entry.html" import song_entry_tabulated with context %}

{% block title %}Catalog - {{ super() }}{% endblock title %}

{% set text_colors = {"inactive": "green", "active": "green-dark"} %}
{% set body_classes = "flex flex-col items-center font-sans min-h-screen border-t-4 border-b-4 border-green" %}

{% block content %}
	<main class="mt-8 px-8">
		<table class="w-full" style="border-collapse: separate; border-spacing: 0.5rem">
			<thead class="text-left font-header text-lg text-grey-dark">
				<tr>
					<th class="font-light">Release Date</th>
					<th class="font-light"></th>
					<th class="font-light">Song and Artist</th>
					<th class="font-light">Record Label</th>
					<th class="font-light">Subgenres</th>
				</tr>
			</thead>
			{% for date, track_list in tracks_by_date %}
				<tbody>
					{# Hack to imitate padding / margin #}
					{% if not loop.first %}
						<tr class="h-8"></tr>
					{% endif %}
					<tr class="h-1 bg-grey-light">
						<td colspan="5"></td>
					</tr>
					<tr class="h-3"></tr>
					{# End hack #}
					
					{% for track in track_list %}
						{{ song_entry_tabulated(title=track.name, artists=track.artist, subgenres_with_colors=track.subgenres_with_colors, record_label=track.record_label,
						              img_url=track.img_url, date=date if loop.first else none) }}
					{% endfor %}
				</tbody>
			{% endfor %}
		</table>
	</main>
{% endblock content %}
