{% from "components/genre-pill-button.html" import genre_pill_button %}
{% from "components/icon-plus.svg" import icon_plus %}
{% from "components/icon-arrow-right.svg" import icon_arrow_right %}

{% macro song_entry(title, artists, year=None, date=None, record_label=None, subgenres=None, img_url=None, extra_container_classes="") %}
	<div class="flex items-center {{ extra_container_classes }}">
		{% if (year is not none) and (date is not none) %}
			<div class="w-36 pr-8 flex-no-shrink">
				<p class="text-lg font-thin leading-tight">{{ year }}</p>
				<p class="text-md font-thin text-grey-dark">{{ date }}</p>
			</div>
		{% endif %}
		
		{% if not img_url %}
			{% set img_src = "/svg/song-missing-art.svg?genre=" %}
			{# Todo: check for tuples #}
			{% set img_src = img_src + subgenres[0] %}
		{% else %}
			{% set img_src = img_url %}
		{% endif %}
		<img src="{{ img_src }}" alt="{{ title }}" class="h-12 w-12 mr-4 shadow-sm">
		
		<div class="min-w-64 mr-4">
			<p class="text-lg font-thin leading-tight">{{ title }}</p>
			<p class="text-md font-thin text-grey-dark">{{ artists }}</p>
		</div>
		
		{% if record_label is not none %}
			<div class="min-w-32 mr-4">
				<p class="text-lg font-thin text-grey-dark">{{ record_label }}</p>
			</div>
		{% endif %}
		
		{% if subgenres is not none %}
			<div class="flex flex-row">
				{% for subgenre in subgenres %}
					{% if subgenre is string %}
						{# dummy #}
						{{ genre_pill_button(genre_name=subgenre, genre_color="house") }}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro song_entry_tabulated(title, artists, record_label=None, subgenres_with_colors=None, img_url=None, date=None) %}
	<tr class="align-middle">
		{# Date (only on first entry in group) #}
		{% if date is none %}
			<td></td>
		{% else %}
			{# todo: make this GraphQL accessible #}
			{% set as_datetime = datetime.strptime(date, "%Y-%m-%d") %}
			<td class="align-top font-header font-light bg-white sticky pin-t">
				<div class="pt-2 pr-6">
					<p class="text-2xl-responsive text-grey-dark leading-none">{{ as_datetime.strftime("%Y") }}</p>
					<p class="text-xl-responsive text-grey">{{ as_datetime.strftime("%B %-d") }}</p>
				</div>
			</td>
		{% endif %}
		{# Artwork #}
		<td>
			{% if not img_url %}
				{% set img_src = "/svg/song-missing-art.svg?genre=" %}
				{# Just choose the first subgenre in the list to pick for the placeholder artwork #}
				{% set img_src = img_src + (subgenres_with_colors[0][0] | urlencode) %}
			{% else %}
				{% set img_src = img_url %}
			{% endif %}
			<img src="{{ img_src }}" alt="{{ title }}" class="h-12 w-12 shadow-sm">
		</td>
		{# Title and artist #}
		<td>
			<p class="text-lg font-thin text-black-light leading-tight">{{ title }}</p>
			<p class="text-md font-thin text-grey-dark">{{ artists }}</p>
		</td>
		{# Record Label #}
		<td>
			<p class="text-lg font-thin text-grey-dark">{{ record_label }}</p>
		</td>
		{# Subgenres #}
		<td>
			<div class="flex flex-row items-center">
				{% for subgenre in subgenres_with_colors[0] %}
					{% set color_info = subgenres_with_colors[1][loop.index-1] %}
					{% if color_info is not none %}
						{% set background, foreground = color_info %}
						{{ genre_pill_button(subgenre_name=subgenre, background_color=background, foreground_color=foreground) }}
					{% else %}
						{# Otherwise, it's an operator (probably) #}
						<div>
							{% if subgenre == "|" %}
								<div class="mx-1">{{ icon_plus(fill_color_class="grey-dark", size=8) }}</div>
							{% elif subgenre == ">" %}
								<div class="mx-2">{{ icon_arrow_right(fill_color_class="grey-dark", size=6) }}</div>
							{% elif subgenre == "~" %}
								{# todo #}
								<p class="text-grey-dark text-xl">~</p>
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</td>
	</tr>
{% endmacro %}
